
<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Facturación</ion-title>

    <ion-buttons slot="start">
      <ion-button (click)="cerrarModal()">
        <ion-icon slot="icon-only" name="arrow-round-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form (ngSubmit)="imprimirPDF(); fimprimirData.reset()" #fimprimirData="ngForm">
    <br>
    <ion-item>
      <ion-label position="floating">Nombres</ion-label>
      <ion-input type="text" [(ngModel)]="datosCli.nombres" name="nombre" style="text-transform: capitalize;" required></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label position="floating">Cédula o RUC</ion-label>
      <ion-input type="text" type="text" minlength='0' [(ngModel)]="datosCli.dni" name="dni" style="text-transform: capitalize;" required></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label>Ciudad</ion-label>
      <ion-select interface="popover"
                  [(ngModel)]="ciudad"
                  name="ciudadesDelPais"
                  (ionChange)="onChange( $event )">

        <ion-select-option *ngFor="let city of ciudades"
                            [value]="city.ciudad"
                            required>{{city.ciudad}}</ion-select-option>    
      </ion-select>
    </ion-item>
    <br>
    <ion-item>
      <ion-label position="floating">Dirección</ion-label>
      <ion-input type="text" [(ngModel)]="datosCli.direccion" name="direccion" style="text-transform: capitalize;" required></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label position="floating">Teléfono</ion-label>
      <ion-input type="tel" type="number" [(ngModel)]="datosCli.telefono" name="telefono" style="text-transform: capitalize;" required></ion-input>
    </ion-item>

    <br><br>
    
    <ion-button type="submit" [disabled]="fimprimirData.invalid" expand="full" shape="round" style="text-transform: capitalize;" color="warning">
      <ion-icon slot="end" name="print"></ion-icon>
      IMPRIMIR FACTURA
    </ion-button>


  </form>

</ion-content>