<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Cuenta
    </ion-title>
  </ion-toolbar>
</ion-header>
<style>
  :root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
  }
</style>


<ion-content class="animated fadeIn fast">
  <ion-app >
     <ion-content >
        <ion-list>
          <br>
          <ion-item (click)="cerrarSes()">
            <ion-icon name="exit" slot="start"></ion-icon>
            <ion-label>Cerrar Sesión</ion-label>
          </ion-item>
          <br>
          <ion-item (click)="actualizar()">
            <ion-icon name="brush" slot="start"></ion-icon>
            <ion-label>Editar perfil</ion-label>
          </ion-item>
          <br>
          <ion-item (click)="verPerfil()">
            <ion-icon name="person" slot="start"></ion-icon>
            <ion-label>Ver perfil</ion-label>
          </ion-item> 
        </ion-list>
      </ion-content>
  </ion-app>  

</ion-content>
